@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject NavigationManager Nav
@* idk why, required by radzen *@
@inject CookieThemeService CookieThemeService

<RadzenComponents @rendermode="InteractiveServer"/>

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="0.5rem" class="rz-p-sm-2">
                <RadzenLabel>
                    <strong>Theme:</strong>
                </RadzenLabel>
                @foreach (var theme in Themes.All.Where(x => new[] { "material", "standard", "standard-dark", "dark", "humanistic" }.Contains(x.Value)))
                {
                    var isChosen = ThemeService.Theme == theme.Value;
                    var icon = isChosen ? "check_circle" : "add_circle";
                    var border = isChosen ? "border: 5px solid green;" : "";

                    var style = $"background-color: {theme.Base}; color: {theme.Primary}; {border}";
                    <RadzenButton Icon=@icon Style="@style" Click="@(() => ChangeTheme(theme.Value))" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" class="rz-border-radius-10 rz-shadow-6"/>
                }
                <RadzenProfileMenu>
                    <Template>
                        <RadzenGravatar Email="user@example.com"/>
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Text="Edit Profile" Path="buttons" Icon="account_circle"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Notifications" Path="buttons" Icon="account_circle"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Settings" Path="notification" Icon="announcement"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Logout" Path="@AppRoutes.Logout" Icon="account_circle"></RadzenProfileMenuItem>
                        
                    </ChildContent>
                </RadzenProfileMenu>
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(_sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Home" Icon="home" Path=""/>
            <RadzenPanelMenuItem Text="Trainers" Icon="dashboard" Path=@AppRoutes.Trainers/>
            <RadzenPanelMenuItem Text="Techniques" Icon="auto_awesome" Path="@AppRoutes.Techniques">
                <RadzenPanelMenuItem Text="Actions" Icon="color_lens"/>
                <RadzenPanelMenuItem Text="Trasitions" Icon="color_lens"/>
                <RadzenPanelMenuItem Text="Positions" Icon="color_lens"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Settings" Icon="dashboard"/>
            @* tmp *@
            <RadzenCard>
                <RadzenPanelMenuItem Text="Register" Icon="dashboard" Path=@AppRoutes.Register/>
                <RadzenPanelMenuItem Text="Login" Icon="dashboard" Path=@AppRoutes.Login/>
            </RadzenCard>
            @* end tmp *@
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code{
    private bool _sidebarExpanded = true;

    void ChangeTheme(string value)
    {
        ThemeService.SetTheme(value);
        StateHasChanged();
    }

}